<div class="restaurant_container">

<h3>Edit Restaurant</h3>

<%= render 'form', restaurant: @restaurant %>

<span>
  <%= button_to 'Cancel', restaurants_path, :method => :get, class: "floated" %>
</span>

</div>
