/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body {
    margin: 0;
    padding: 0;
  }
  header.main {
    text-align: center; // center on mobile
    @media (min-width: 30em) {
      text-align: left; // left align on desktop
    }
    background: #C5D8A4;
    color: #333;
    padding: 2em;
    margin: 0;
  }
  .no_margin_bottom {
    margin-bottom: 0;
    padding-bottom: 0;
    display: inline;
    border: 0;
  }

  h2, h3, h4, aside {
    margin: 0;
    padding-bottom: 1em;
  }

  .devise_container {
    margin: 0;
    padding: 2em;
  }

  .restaurant_container {
    margin: 0;
    padding: 2em;
  }

  tr.list_line_odd {
    background-color: #F4FCD9;
  }

  table.fill_width {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  table.text_align_left {
    text-align: left;
  }

  .login {
    text-align: center; // center on mobile
    @media (min-width: 30em) {
      text-align: left; // left align on desktop
    }
    background: #F4FCD9;
    padding: 1em 2em 1em 2em;
  }

  .search {
    color: #fff;
    padding: 1em;
    display: none;
    width: 60%;
  }
  .search_radio_label {
    margin-right: 20px;
    display: inline;
    padding-bottom: 1em;
  }
  .content {
   margin: 0;
   padding: 0;

   display: flex;
   display: -webkit-flex;
   flex-direction: column; // mobile is horizontally laid out
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;

   @media (min-width: 30em) {
     flex-direction: row;  // desktop is vertically laid out
     -webkit-box-orient: horizontal;
   }

   nav {
     padding-bottom: 1em;
     background: #F4FCD9;
     text-align: center;  // mobile has centered nav
     @media (min-width: 30em) {
       text-align: left; // desktop nav is left-aligned
       padding: 1em;     // and needs more padding
     }

    nav.logged_in_nav {
      border-top: solid thin #bfb;
      padding: 0.354em 0;
      margin-top: 0.354em;
      input[type="submit"] {
        // Make the logout button look like a
        // link, so it matches the nav style
        background: none;
        border: none;
        color: #bfb;
        font-size: 1em;
        letter-spacing: 0.354em;
        margin: 0;
        padding: 0;
        text-transform: uppercase;
      }
      input[type="submit"]:hover {
        color: white;
      }
    }

     ul {
       list-style: none;
       margin: 0;
       padding: 0;
       @media (min-width: 30em) {
         padding-right: 1em; // give desktop some extra space
       }
       li {
         margin: 0;
         padding: 0.5em;
         text-transform: uppercase;
         letter-spacing: 0.354em;
         a {
           color: #bfb;
           text-decoration: none;
         }
         a:hover {
           background: none;
           color: white;
         }
       }
     }
   }
   main {
     padding: 0.5em;
   }
 }

hr {
 height: 1px;
 background-color: #ccc;
 border: none;
}
.floated {
   float:left;
   margin-right:5px;
}
